.ficha_tecnica input,
.ficha_tecnica .tagsinput{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

.ficha_tecnica > div{
    margin-bottom: 15px
}

.atributo{
    min-height: 70px;
}

.atributo:hover input{
    border-bottom: 1px solid #000;
}